
extends ../layout/layout.pug

include ../../../blocks/blocks.pug 

block variables
    - var title = 'Form Elements'

block content

    .row
        .col
            .input_mb_20
                +text-field("text field", {placeholder: "ДД.ММ.ГГГГ", type: 'date'}, {color: "red"})

            .input_mb_20
                +text-field("text field", {placeholder: "password", value: "This is pretty awesome", autofocus: true})

            //- .input_mb_20
            //-     +text-field("text field", {value: "Константин Кончтантиновичч Константинопольский"})
            
            //- .input_mb_20
            //-     +subscr-text-field("subscription text field", {value: "Константин Кончтантиновичч Константинопольский"})    

            //- .input_mb_30
            //-     +dropdown("гости", {type: "guests"})    

            .input_mb_20
                +datepicker('date dropdown', '') 

            form(action="") 
                +datepicker('date dropdown', '') 
                button(type="submit") Кнопка

              

            .input_mb_20
                +text-field("text field", {placeholder: "Email"}, {color: "red"})       

        .col

            .input_mb_20
                label.h3 Select<br>
                    select
                        option(value="1")= "HTML верстка верстка верстка"     
                        option(value="2" )= "CSS"     
                        option(value="3")= "JS"     
                        option(value="4")= "PHP"  

            .input_mb_20
                +datepicker('filter date dropdown', '', 'filter')

            .input_mb_40
                +dropdown("удобства номера", {type: "rooms"})       

            .input_mb_40
                +checkbox(
                    "checkbox buttons", 
                    "rules",
                    [
                        {text: 'Можно курить', checked: false}, 
                        {text: 'Можно с питомцами', checked: true}, 
                        {text: 'Можно пригласить гостей (до&nbsp;10&nbsp;человек)', checked: true}
                    ])   

            .input_mb_40
                +checkbox(
                    "rich checkbox buttons", 
                    "access",
                    [
                        {text: 'Широкий коридор', descr: 'Ширина коридоров в номере не&nbsp;менее&nbsp;91&nbsp;см.', checked: true}, 
                        {text: 'Помощник для инвалидов', descr: 'На 1 этаже вас встретит специалист  и проводит до номера.', checked: false}
                    ], 
                    "rich")                          


            .input_mb_40
                +radio('radio buttons', 'gender')

            .input_mb_10
                +toggle('toggle', 'special', 'Получать спецпредложения') 

            .input_mb_40
                +toggle('', 'offers', 'Получать спецпредложения', true)


            .input_mb_10
                +like('like button', 2)

            .input_mb_40
                +like('', 12, true)

            .input_mb_10
                +rate('rate button')

            .input_mb_40
                +rate('', 4, false)


            .input_mb_40
                +expand-checkbox(
                    'expandable checkbox list', 
                    'comfort',
                    [
                        {text: 'Завтрак', checked: false}, 
                        {text: 'Письменный стол', checked: true}, 
                        {text: 'Стул для кормления', checked: true}, 
                        {text: 'Кроватка', checked: true}, 
                        {text: 'Телевизор', checked: false}, 
                        {text: 'Шампунь', checked: false}
                    ]) 

        .col
            .input_mb_40
                +slider(
                    'range slider', 
                    'price',
                    {
                        start: [5000, 10000],
                        step: 500,
                        range: {
                            'min': 0,
                            'max': 16000 
                        }
                    })

            .input_mb_40    
                +slider(
                    'range slider',
                    '',
                    {
                        start: [3000, 10000],
                        step: 1000,
                        range: {
                            'min': 0,
                            'max': 25000
                        }
                    })

            .input_mb_16    
                .h3= 'buttons'

            .input_mb_30    
                +btn('Click me')

            .input_mb_30    
                +btn('Click me', 'border')

            .input_mb_30    
                +btn-text('Click me')

            .input_mb_40    
                +btn('Перейти к оплате', 'submit')

            .input_mb_40
                +bullet-list('bullet list', [
                    'Нельзя с питомцами',
                    'Без вечеринок и мероприятий',
                    'Время прибытия — после 13:00, а&nbsp;выезд&nbsp;до&nbsp;12:00'
                ])


    .row
        .col-1
        .col-2

    
    //-     +text-field("masked text field", {type: "text", pattern: "", placeholder: "ДД.ММ.ГГГГ"})

        



    

    