mixin checkbox(title="", name="", data=[], type="")
    //- type = "" или "rich"

    .checkbox
        if title
            .checkbox__title.h3= title

        each item, index in data
            label.checkbox__label
                input.checkbox__real.hidden(type="checkbox" name=name value=index checked=item.checked)
                span.checkbox__custom 
                if type !== 'rich'
                    .checkbox__text.body !{item.text}
                else 
                    .checkbox__rich-text.body !{item.text}
                    .checkbox__rich-descr !{item.descr}
        