mixin dropdown(label="", attr={})

    - var guests = {'взрослые': '1', 'дети': '0', 'младенцы': '0'}
    - var rooms = {'спальни': '1', 'кровати': '1', 'ванные комнаты': '0'}
    - var data = {}

    //- if attr.type === "guests"
    //-     - data = guests
    //- else if attr.type === "rooms"
    //-     - data = rooms 
    - data = attr.type === 'guests' ? guests : rooms     

    .dropdown(data-type=attr.type data-data=data)
        label.dropdown__label
            +label(label)
            button.dropdown__input.body= value

        .dropdown__dropdown(tabindex="0")
            .dropdown__list
                each value, key in data
                    .dropdown__list-item
                        .dropdown__list-item-text.h3= key
                        .dropdown__list-item-buttons
                            button.dropdown__list-item-button(data-key=key) -
                            .dropdown__list-item-value.h3(data-key=key)= value
                            button.dropdown__list-item-button(data-key=key) +

            if attr.type === "guests"
                .dropdown__buttons
                    button.dropdown__button-clean.h3 очистить
                    button.dropdown__button-apply.h3 применить
