mixin dropdown(label = '', ddType = 'guests')

    - var guests = {'взрослые': '0', 'дети': '0', 'младенцы': '0'}
    - var rooms = {'спальни': '0', 'кровати': '0', 'ванные комнаты': '0'}
    - var data = {}

    - data = ddType === 'guests' ? guests : rooms     

    .dropdown(data-type=ddType data-data=data)
        label.dropdown__label
            +label(label)
            button.dropdown__input.input.body(type='button')= value

        .dropdown__dropdown(tabindex='0')
            .dropdown__list
                each value, key in data
                    .dropdown__list-item
                        .dropdown__list-item-text.h3= key
                        .dropdown__list-item-buttons
                            button.dropdown__list-item-button(type='button' data-key=key) -
                            .dropdown__list-item-value.h3(data-key=key)= value
                            button.dropdown__list-item-button(type='button' data-key=key) +

            if ddType === 'guests'
                .dropdown__buttons
                    button.dropdown__button-clean.h3(type='button') очистить
                    button.dropdown__button-apply.h3(type='button') применить
